{% extends "auctions/layout.html" %}

{% block body %}
    <h2 style="text-align: center;">Active Listings</h2>
    
        {% for listing in listings %}
        <div style="border: 1px solid lightgrey; border-radius: 5px; text-align: center;">
            <a href="{% url 'listing' listing.title %}"><h3>{{ listing.title }}</h3></a>
            <img style="max-width: 500px; max-height: 500px;" src= {{ listing.url }} alt="No image">
            <p>{{ listing.description }}</p>
            <p>Current prize is: ${{ listing.startingbid }}</p>
        </div>
        {% endfor %}

{% endblock %}